.mailMessage__body {
  height: 100vh;
}

.mailMessage__bodyHeader {
  position: relative;
}

.mailMessage__message {
  overflow-wrap: break-word;
}

.mailMessage__time {
  position: absolute;
  top: 4px;
  right: 5px;
  font-weight: bold;
  color: gainsboro;
  font-size: small;
}
