.section {
  height: 40px;
  min-width: 200px;
  cursor: pointer;
  color: gray;
  background-color: white;
  border-width: 0px !important;
}
.section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}
