.section {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 40px;
  min-width: 200px;
  background-color: white;
  cursor: pointer;
  color: gray;
  border-width: 0px !important;
}
.section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}
.section > h4 {
  margin-left: 4px;
  font-size: 14px;
}
