.sidebaritems {
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sidebaritems:hover {
  background-color: rgb(242, 215, 215);
  color: brown;
}

.sidebaritems:hover > p {
  display: inline;
  font-weight: 700;
}

.sidebaritems__unread {
  display: none;
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
  color: brown;
}
